
:root{
    --main:#f90;
    --sec:black;
    --blackTransp: rgba(0, 0, 0,0.6);
    --acc:white;
    --darkO:#663d00;
    --lightO:#feeacc;
}
*{
    font-family:  Helvetica, sans-serif
}

.navbar-custom{
    position: fixed;
    top: 1%;
    width: 100%;
    background-color: var(--blackTransp);
    backdrop-filter: blur(10px);
    z-index: 999;
}

/* .carousel-inner img {
    object-fit: contain !important;
} */

/**************/

/*logo*/
.hub{
    color: var(--sec);
    background-color: var(--main);
    border-radius: 10%;
}
.Groove{
    color: var(--primary);

}
.iconN{
    background-color: #f90;
}
/*****/


body{
    background-color: black;
}


/*ACCORDION*/
/* Accordion CHIUSA */
.accordion-button {
    color: black;
    background-color: var(--acc);
}

/*Freccia verso l'alto */
.accordion-button:not(.collapsed)::after {
    background-image: url('../img/chevron-up-solid.svg');
    transform: rotateZ(0deg);
}

/* Accordion APERTA */
.accordion-button:not(.collapsed) {
    color: var(--acc);
    background-color: var(--main)
}

/*freccia versdo il basso */
.accordion-button::after {
    background-image: url('../img/chevron-down-solid.svg');
    transform: rotateZ(360deg);
}
.riproduci{
    background-color: var(--main);
    color: black;
}
.riproduci:hover{
    background-color: black;
    color: var(--main);
}

.prices{
    font-size: 14px;
}
.annunciCard{
    height: 25vw;
}

.btn-reset{
    color: var(--lightO);
    background-color: var(--main);
}