
:root{
    --main:#f90;
    --sec:black;
    --acc:white;
    --darkO:#663d00;
    --lightO:#feeacc;
}
*{
    font-family:  Helvetica, sans-serif
}
.mainc{
    color: var(--main);
}

.navbar{
background-color: var(--main);
}
.Groove{
    color: var(--primary);

}
.hub{
    color: var(--acc);
    background-color: var(--main);
}
body{
    background-color: var(--sec);
}
.carousel-item > img {
    height: 100vh;
    /* width: 30vw; */
}