
:root{
    --main:#f90;
    --sec:black;
    --blackTransp: rgba(0, 0, 0,0.6);
    --acc:white;
    --darkO:#663d00;
    --lightO:#feeacc;
}

*{
    font-family: 'Inter Tight', sans-serif;

}
span,h1,h2,h3,h4,h5,h6{
    font-family: 'Orbitron', sans-serif;
}
h1{
    font-size: 100vh;
    font-size: 10vw;
    font-weight: bold;
    color: var(--acc);
    
}
span{
    font-weight: lighter;
}
/*  */
.navbar-custom{
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: var(--blackTransp);
    backdrop-filter: blur(10px);
    z-index: 999;
}
/*carousel*/
.carousel-item > div> img {
    height: 100vh;
    width: 100vw; 
    transition: transform .2s; /* Animation */
}

.carousel-item > div> img:hover{
transform: scale(1.1);

}

/* .carousel-inner img {
    object-fit: contain !important;
} */

/**************/

/*logo*/
.hub{
    color: var(--acc);

    border-radius: 10%;
    text-shadow: -1px -1px 0 var(--main), 1px -1px 0 var(--main), -1px 1px 0 var(--main), 1px 1px 0 var(--main);

}
.textBorder{
    text-shadow: -5px -5px 0 #000, 5px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
}
.Groove{
    color: var(--primary);

}
.iconN{
    background-color: #f90;
}
/*****/
.hub2{
    color: var(--main);
    border-radius: 10%;
    text-shadow: -1px -1px 0 var(--sec), 1px -1px 0 var(--sec), -1px 1px 0 var(--sec), 1px 1px 0 var(--sec);

}

body{
    background-color: var(--sec);
}
.shadowImg{
    box-shadow: 1vw 1vh 15px rgba(0, 0, 0, 0.653);
}

.backgroundstats{
    /* background-image: url(/resources/img/cover\ 25_sfondo.jpg); */
    background: linear-gradient(rgb(0, 0, 0), rgba(10, 10, 10, 0.336), rgb(0, 0, 0)), url(/resources/img/cover-28_sfondo.jpg);
    /* height: 70vh; */
    width: 100vw;
    background-size: cover;
    background-repeat:no-repeat;
    /* border: 0%; */

}
.numbers{
  /* margin: 25px; */
  /* width: 350px; */
  height: 400px;
}
h2{
    font-size: 4rem;
    color: var(--acc);
    font-weight: bold;

}
#firstnumber, #secondnumber, #thirdnumber{
    background-color: #f90;
}
.space{
    height: 90rem;
}

.iconFoot{
    color: var(--main);
}

.text-red{
    color: red;
}
.text-blue{
    color:  #0165E1;
}
.text-twitter{
    color: #1DA1F2;
}
.help-section a:link,a:visited {
    color: var(--main);
  }