
:root{
    --main:#f90;
    --sec:black;
    --acc:white;
    --darkO:#663d00;
    --lightO:#feeacc;
}
*{
    font-family:  Helvetica, sans-serif
}
.mainc{
    color: var(--main);
}
.back{
    background-color: black;

}

.navbar{
background-color: rgba(255, 153, 0, 0.47);
}
.Groove{
    color: var(--primary);

}
.hub{
    color: var(--sec);
    background-color: var(--main);
}
body{
    background-color: var(--sec);
}
.carousel-item > img {
    height: 100vh;
    /* width: 30vw; */
}
.iconN{
    background-color: #f90;
}